@import "tailwindcss";

@theme inline {
  --color-charcoal-gray: #36454F;
  --color-charcoal-dark: #232d34;
  --color-charcoal-light: #5a7485;
  --color-primary: var(--color-charcoal-gray);
  --color-primary-dark: var(--color-charcoal-dark);

  --font-bebas: var(--font-bebas), ui-sans-serif, system-ui;
  --font-montserrat: var(--font-montserrat), ui-sans-serif, system-ui;
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui;

  --animate-pulse-slow: pulse-slow 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse-slow {

    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }

    50% {
      opacity: .95;
      transform: scale(1.02);
    }
  }
}

body {
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas);
}